<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <title>Date</title>
</head>
<body>
    <div class="moving">
        <marquee behavior="" direction="">Jai Hanuman Aqua Solutions - Bengaluru &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            " The Ultimate Solution for Pure Water, where Water Meets Wellness! Our shop is a sanctuary of purity, offers cutting-edge water purification solutions "</marquee>
    </div>
   <h1> <a href="/details">booking_details</a></h1> 
</body>
</html>