<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/homedesign.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RO_Water_Purifiers</title>
</head>
<body>
    
    <div class="moving">
        <marquee behavior="" direction="">Jai Hanuman Aqua Solutions - Bengaluru &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            " The Ultimate Solution for Pure Water, where Water Meets Wellness! Our shop is a sanctuary of purity, offers cutting-edge water purification solutions "</marquee>
      
    </div> 
    <a href="/admin">admin</a> &nbsp; 
    <div class="booking">
       <button type="button"><a href="/service"><i class='bx bx-user-pin'></i>Service</a></button><br>
       <button type="button"><a href="/booking"><i class='bx bxs-shopping-bags'></i>New Aqua</a></button><br>
       <a href="/feedback"><h2>FeedBack</h2></a>
       
    </di>
    </div>
</body>
</html>