<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/thanks.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visiting</title>
</head>
<body>
    <div class="moving">
        <marquee behavior="" direction="">Jai Hanuman Aqua Solutions - Bengaluru &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            " The Ultimate Solution for Pure Water, where Water Meets Wellness! Our shop is a sanctuary of purity, offers cutting-edge water purification solutions "</marquee>
    </div>
    <h2>Our Agent will contact you . </h2>
    <p> Incase of amergency cantact this number 7672077738 (Rajesh)</p><br>
    <h1>Thank you for shopping with us! Each order means the world to us, and we’re so happy you chose our small business today.
        <br> Please submit your feedback here <a href="/feedback/">feedback</a> if you have any feedback about your purchase and service. </h1>
</body>
</html>